/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TYPOGRAPHY */
p{
    font-size: 1.5em;
}
label{
    font-size: 1.5em;
}
body{
    background: #272727;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* CUSTOM CSS */
.display-flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-space-between{
    justify-content: space-between;
}
.main-container{
    max-width: 968px;
    padding: 1em 2.5em;
    margin: 0 auto;
    /* border: 2px solid black; */
    /* box-sizing: border-box; */
}
#main-content > ul li{
    display: block;
    padding: 1em 0;
    width: 100%;
    border-bottom: 1px solid #5C5C49;
    margin-top: 0.1em;
}
#main-content > ul{
    
}
#main-content > input, #main-content > ul{
    width: 100%;
}
.align-item-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}

h1{
    padding: 1em 0 1em 0;
    font-size: 3em;
}

input[type ="checkbox"] {
    padding-right: 2em;
}
input[type="text"]{
    height: 2em;
    font-size: 2em;
    /* border-bottom: 2px solid black; */
    border: 0;
    border-bottom: 1px solid white;
    padding: 0 0 0 0.9em;
    background: #272727;
    color: white;
    width: 100%;

}
input[type="text"]:focus{
    outline: none;
}
a{
    display: block;
}
.delete-todo{

}
a{
    text-decoration: none;
}
a.identifier > i {
    opacity: 0.1;
    /* padding: 0 3em 0 5em; */
    align-content: center;
}
a.identifier > i:hover{
    opacity: 1;
    display: block;
    color: #C0392B;
    border: white;
}
#delete-item{
    display: block;
    border: 2px solid white;
    /* width: 300px;
    padding: 0 1em; */
}
#text-field >a {
    position: absolute;
    right: 2em  
}
section#text-field{
    position: relative;
    width: 100%;
}
i{
    color :white;
    padding: 1em 1em;
    /* border: 2px solid white;
    border-radius: 50%; */
}
a.add-todo{
    position: absolute;
    right: 2em;

}
article{
    padding: 0 1em;
}
.createdDateHighlight{
    color: #3498DB;
    text-decoration: none;
}

/* //////////////////////////////////////////////////////// */

input[type=checkbox] + label{
    display: block;
  }
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox] + label:before{
    content: "\2714";
    border: 0.09em solid #5C5C49;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
    margin-right: 0.5em;
    vertical-align: center;
    color: transparent;
    vertical-align: center;
  }
  input[type=checkbox]:checked + label:before{
    background-color : #272727;
    border-color: #272727;
    color: #2ECC71;
  }
  input[type=checkbox] + label:active:before{
    transform: scale(0)
  }
  input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }
  label{
      padding-top: 0.4em; 
  }